html,body{
  height: 100%;
  margin: 0;
  font-size: 16px;
  font-family: "lato",sans-serif;
  font-weight: 400;
  line-height: 1.8em;
  color: #666;
}

.image1{
  background-image: url(https://cdn.wallpapersafari.com/29/92/9VWQiO.jpg);
  min-height: 100%;
}

.image2{
  background-image: url(https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_640.jpg);
  min-height:400px;
}


.image3{
  background-image: url(https://png.pngtree.com/thumb_back/fh260/background/20230524/pngtree-trees-reflected-in-water-with-a-beautiful-sky-and-colorful-sunset-image_2679078.jpg);
  min-height:400px;
}

.image1,.image2,.image3{
  
  position:relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.ptext{
  position: absolute;
  width: 90%;
  top: 50%;
  text-align: center;
  font-size: 25px;
  letter-spacing: 9px;
  text-transform: uppercase;
  
}

.textbg{
  background-color: #837c7c;
  color: white;
  /* border-radius: 10px; */
  padding: 10px;
}

section{
  padding: 50px 80px;
  text-align: center;

}

.sectionlight{
  background-color: whitesmoke;
  color: grey;
}

.sectiondark{
  background-color: #282e34;
  color: #ddd;
}

